<!-- 
<div *ngIf="messageEnum == 0">
    <p>Message 0</p>
</div>
<div *ngIf="messageEnum == 1">
    <p>Message 1</p>
</div>
<div *ngIf="messageEnum == 2">
    <p>Message 2</p>
</div>
<div *ngIf="messageEnum == 3">
    <div class="error-container">
        <div class="error-heading">Error</div>
        <div class="error-message">Se ha producido un error. Por favor, inténtalo de nuevo más tarde.</div>
      </div>
</div>
<div *ngIf="messageEnum == 4">
    <p>Message 4</p>
</div> -->
<!-- <a [routerLink]="'register/101010'">compon</a> -->
